$primary-color: #f1f1f1;
$white-color:#ffff;
$second-color:#7ac297;
$third-color:#2959a5;
.container__moyen-transport{
    background-color: $primary-color;
    padding: 20px;
    height: 100vh;
    .hamburger__moyen-transport{
        justify-content: flex-start !important;
    }
    .title__container
    {
        margin-top: 40px;
        display: grid;
        font-size: 20px;
        grid-template-columns: 1.5fr 3fr 1fr;
        .title{
            text-align: center;

            font-weight: bold;
        }
        .moyen__input{
            color:$white-color;
        }
    }   
    .moyen__section{
        margin: auto;
        padding-top: 40px;
    }

}
ion-toast.custom-toast {
    --background:$second-color;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color:white;
    --border-radius: 10px;
  }