$primary-color: #f7f2ef;
$white-color:#ffff;
$second-colr:#344e41;
$third-color:#a3b18a;
.container__moyen-transport{
    background-color: $primary-color;
    padding: 25px;
    .title__container
    {
        margin-top: 40px;
        display: grid;
        font-size: 20px;
        grid-template-columns: 1.5fr 3fr 1fr;
        .title{
            text-align: center;

            font-weight: bold;
        }
        .moyen__input{
            color:$white-color;
        }
    }   
    .moyen__section{
        margin: auto;
        padding-top: 40px;
    }

}
ion-toast.custom-toast {
    --background:#2dd55b;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color:white;
    --border-radius: 10px;
  }