.dashboard-head{
   
    display: flex;
    justify-content: space-between;
    /* padding: 2vh; */
    padding-top: 4vh;
    
    align-items: center;
}

.dashboard{
    padding-left: 4vh;
    padding-right: 4vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.dashboard-head span{
    font-size: 20px;
    /* font-weight: bold; */
}
.my-button{
    background-color: #a3b18a;
    border-radius: 8px;
    color:white!important;
}
ion-icon{
    color:white;
}
.dashboard .tabs .MuiTabs-flexContainer {
    justify-content: space-around;
    font-size: small;
  }
  .tabs{
    margin-top: 5vh;

  }
  .dashboard .tabs button {
    outline: none;
  }
  .dashboard .tabs .MuiTabs-indicator {
    display: none;
  }
  .dashboard .MuiTab-root.Mui-selected::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #588157;
    position: absolute;
    left: 0;
    bottom: 5px;
    margin-left: 50%;
    border-radius: 2px;
  }
  .dashboard .MuiTab-root.Mui-selected{
    font-weight: bold;
    color: #588157;
  }
  /* a3b18a */

  .my-progress{
    height:25vw;
    border-radius: 23px;
    }
      
:root{
  --ion-color-success: #aefdae;
  --ion-color-secondary: #ffff72;
  --ion-color-danger: #faa5a5;
  --ion-color-warning: #fcdea7;
  --background: white !important;
  --ion-color-step-100: white;
  --ion-background-color-step-100: white;

}
.inner-dashboard{
  margin-top: 6vh;
}
.MuiChartsAxis-line{
  display: none;
}
.MuiChartsAxis-tick{
  display: none;
}
.MuiBarElement-series-pas{
  width: 10px;
}

g{
  width: 20px;
  display: block;
}
.dashboard-chart{
  position: relative;
  width: 100vw;
  height: 40vh;
}
.MuiChartsLegend-root {
  display: none;
}
.dashboard-week{
  margin-top:6vh;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dashboard-chart{
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-title{
  font-size: 20px;
  font-weight: bold;
  margin-top: 2vh;
}

.legends{
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.legend{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.color{
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.legend-label{
  margin-left: 15px;
}
#legend-pas-color{
  background-color: #588157;
}
#legend-carbone-color{
  background-color: #faa5a5;
}
.MuiChartsAxis-directionY{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}